* {
  box-sizing: border-box;
}

:root {
  --font-heading: "Sen", sans-serif;
  --primary-color: #ffb900;
}

html {
  font-size: 62.5%;
}

/* Khôi phục lại cỡ chữ mặc định theo rem */

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* ======================common========================= */
a {
  text-decoration: none;
}

.heading-lv2 {
  color: #171100;
  font-family: var(--font-heading);
  font-weight: 700;
  font-style: Bold;
  font-size: 3.8rem;
  line-height: 1.27;
  letter-spacing: -0.76px;
}

.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

/* =======================header========================= */

.header {
  background: #fffcf4;
}
.header.fixed {
  position: sticky;
  top: -28px;
  z-index: 1;
}
.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}
.nav ul {
  display: flex;
}
.nav {
  margin-left: auto;
}

.nav a {
  color: #5f5b53;
  font-weight: 400;
  font-style: normal;
  font-size: 1.6rem;
  letter-spacing: 0%;
  text-align: center;
  padding: 8px 21px;
  position: relative;
}

.nav li.active a,
.nav a:hover {
  color: #000;
  text-align: center;
  /* font-weight: 600; */
  text-shadow: 1px 0 0 currentColor;
}

.nav li.active a::after {
  position: absolute;
  display: block;
  left: 21px;
  bottom: 6px;
  content: "";
  width: 12px;
  height: 2px;
  flex-shrink: 0;
  border-radius: 1px;
  background: #171100;
}

.btn {
  display: inline-block;
  min-width: 118px;
  padding: 0 16px;
  color: #fff;
  font-size: 1.6rem;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  border-radius: 999px;
  background: #171100;
  line-height: 50px;
}

.btn:hover {
  opacity: 0.9;
}

.header .btn-sign-up {
  min-width: 144px;
}
.header .action {
  margin-left: 49px;
}

/* ===================hero===================== */
.hero {
  padding: 56px 0 64px;
  background: #fffcf4;
}

.hero .body {
  display: flex;
}
/* =======================hero left============= */
.hero .media-block {
  position: relative;
  width: 48%;
}

.hero .media-block .img {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
}

.hero .hero-summary {
  position: absolute;
  bottom: 48px;
  right: 0;
  padding: 24px;
  width: 270px;
  border-radius: 12px;
  box-shadow: 0px 16px 32px 0px rgba (0, 0, 0, 0.05);
  background: #ffffff;
  border-radius: 12px;
}

.hero-summary .item {
  display: flex;
  align-items: center;
}

.hero-summary .item + .item {
  margin-top: 22px;
}

.hero-summary .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff9e8;
}

.hero-summary .icon2 {
  background: #fcefff;
}

.hero-summary .icon3 {
  background: #ebeaff;
}

.hero-summary .info {
  margin-left: 16px;
}

.hero-summary .label {
  color: #5f5b53;
  font-weight: 400;
  font-style: normal;
  font-size: 1.4rem;
  line-height: 1.86;
}

.hero-summary .title {
  color: #171100;
  font-weight: 600;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 1.67;
}

/* =======================hero right=============== */
.hero .content-block {
  width: 52%;
  padding-left: 130px;
  padding-top: 64px;
}

.hero .heading {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: -1.16px;
}

.hero .desc {
  color: #5f5b53;
  margin-top: 22px;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 1.67;
}

.hero .cta-group {
  margin-top: 38px;
  display: flex;
  align-items: center;
}

.hero .hero-cta {
  min-width: 180px;
  background-color: var(--primary-color);
  line-height: 64px;
  color: #ffffff;
}

.hero .watch-video {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  margin-left: 28px;
  cursor: pointer;
}

.hero .watch-video .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: #ffffff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
}

.hero .watch-video span {
  margin-left: 14px;
  color: #171100;
  font-weight: 600;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 1.67;
}

.hero .desc-recent {
  margin-top: 48px;
}

.hero .stats {
  margin-top: 8px;
}

.hero .stats strong {
  color: #171100;
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 4.4rem;
  line-height: 54px;
  margin-right: 15px;
}

.hero .stats strong:nth-child(2) {
  margin-left: 28px;
}

/* ====================popular=========== */
.popular {
  padding: 65px 0;
  margin-top: 135px;
}
.popular-top .desc {
  margin-top: 16px;
  width: 458px;
  color: #5f5b53;
  font-family: Poppins;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.67;
  letter-spacing: 0%;
}

.popular-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.controls {
  display: flex;
  gap: 18px;
}
.popular-top .control-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 40px;
  height: 40px;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 50%;
}

.popular-top .control-btn:hover {
  background-color: var(--primary-color);
  color: #fff;
  cursor: pointer;
}
