* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* Khôi phục lại cỡ chữ mặc định theo rem */

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* ======================common========================= */
a {
  text-decoration: none;
}

.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

/* =======================header========================= */

.header {
  background: #fffcf4;
}
.header.fixed {
  position: sticky;
  top: -28px;
}
.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}
.nav ul {
  display: flex;
}
.nav {
  margin-left: auto;
}

.nav a {
  color: #5f5b53;
  font-weight: 400;
  font-style: normal;
  font-size: 1.6rem;
  letter-spacing: 0%;
  text-align: center;
  padding: 8px 21px;
  position: relative;
}

.nav li.active a,
.nav a:hover {
  color: #000;
  text-align: center;
  /* font-weight: 600; */
  text-shadow: 1px 0 0 currentColor;
}

.nav li.active a::after {
  position: absolute;
  display: block;
  left: 21px;
  bottom: 6px;
  content: "";
  width: 12px;
  height: 2px;
  flex-shrink: 0;
  border-radius: 1px;
  background: #171100;
}

.btn {
  display: inline-block;
  min-width: 118px;
  padding: 0 16px;
  color: #fff;
  font-size: 1.6rem;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  border-radius: 24.5px;
  background: #171100;
  line-height: 50px;
}

.header .btn-sign-up {
  min-width: 144px;
}
.header .action {
  margin-left: 49px;
}
